<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a [routerLink]="['/home']" onclick="closeNav()"> <i class="fa fa-home" aria-hidden="true"></i> Home</a>
  <a [routerLink]="['/settings']"  onclick="closeNav()"><i class="fa fa-gear fa-spin" style="font-size:24px"></i> Settings</a>
  <a [routerLink]="['/invoice']"  onclick="closeNav()"><i class="fa fa-files-o" aria-hidden="true"></i> Invoicing</a>
  <a [routerLink]="['/inventory']"  onclick="closeNav()"><i class="fa fa-suitcase"></i> Inventory</a>
  <a [routerLink]="['/contacts']"  onclick="closeNav()"><i class="fa fa-phone" aria-hidden="true"></i> Contacts</a>
  <a [routerLink]="['/reports']"  onclick="closeNav()"><i class="fa fa-line-chart" style="font-size:24px"></i> Reports</a>
  <a [routerLink]="['/help']"  onclick="closeNav()"><i class="fa fa-handshake-o"></i> Help</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ </button> 
  <img class="logo-c" src="./assets/img/elementary.svg"> 
  
</div>
<!--<app-invoice></app-invoice>-->
<router-outlet></router-outlet>