<div class="container-fluid ">
    <div class="row ">
        <div class=" p-3 mt-3" >
            <div class="img-card">
                <div class="p-cot"><a href="#">Alerts</a></div>
            <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width: 100%;"/>
        </div>
        </div>

        <div class="p-3">
            <div class="img-card">
                <div class="p-cot"><a href="#">To do List</a></div>
            <img src="https://www.w3schools.com/w3css/img_car.jpg" style="width: 100%;"/>
            
            </div>
        </div>
        <div class="p-3">
            <div class="img-card">
                <div class="p-cot"><a href="#">Pending Credits</a></div>
            <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width: 100%;"/>
            </div>
        </div>
        <div class="p-3">
            <div class="img-card">
                <div class="p-cot"><a href="#">Pending Debits</a></div>
            <img src="https://www.w3schools.com/w3css/img_car.jpg" style="width: 100%;"/>
            </div>
        </div>
    </div>
    
</div>